.cabecalho {
    background-image: url("../assets/images/background-pattern-mobile.svg");
    background-size: cover;   /* ou contain */
    background-repeat: no-repeat;
    background-position: center; 
    height: 30vh;
}

@media screen and (min-width: 768px) {
    .cabecalho {
        background-image: url("../assets/images/background-pattern-desktop.svg");
        height: 40vh;
    }
    
}

