.conteudo__topo {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    font-family: work sans, sans-serif;
}

.conteudo__topo img {
    width: 24px;
    height: 24px;
}

body {
    background-color: #F8EEFF;
}

footer.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 40px;
    color: #8B6990;
    position: fixed;
    bottom: 10px;
    width: 100%;
}


@media screen and (min-width: 768px) {
    .conteudo__topo {
        font-size: 56px;
        margin-bottom: 32px;
        margin-top: 40px;
    }

    .conteudo__topo img {
    width: 35px;
    height: 35px;
    }
}

@media screen and (min-width: 1440px) {
   
    .conteudo__topo img {
    width: 40px;
    height: 40px;
    }
}